@import "tailwindcss";

@theme {
  --color-canvas: #fdfbf7;
  --color-sage: #84a59d;
  --color-abyss: #121820;
  --color-crimson: #9b2226;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

/* Custom styles */
body {
  cursor: none;
}

::selection {
  background-color: var(--color-sage);
  color: var(--color-canvas);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
